@page
@model WypozyczalniaAplikacjaWebowa.Pages.KategoriaF.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Kategorium[0].NazwaKategorii)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Kategorium) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NazwaKategorii)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.IdKategorii">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.IdKategorii">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.IdKategorii">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
